.signup-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .signup-container h2 {
    color: white; }

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353434;
  height: 400px;
  width: 600px;
  border-radius: 10px; }

.signup-input {
  height: 38px;
  width: 300px;
  margin: 20px 8px;
  border: solid 2px #26a566;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px; }

.name {
  margin-left: 42px; }

.email {
  margin-left: 46px; }

.signup-button {
  margin: 20px 0;
  width: 413px;
  height: 38px;
  font-size: 18px;
  background-color: #26a566;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 10px 18px #494444;
  border: none;
  outline: none; }

.signup-button:hover {
  cursor: pointer;
  box-shadow: 0 6px 18px #777; }

h2 {
  color: #353434; }
