.movies-container {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  width: 98%;
  margin: 0 auto; }

.pick-movie-text {
  font-size: 80px;
  color: #FFF;
  text-align: center;
  position: relative;
  top: 215px; }

.selected-movie {
  width: 98%;
  margin: 10px auto;
  height: 499px;
  background-color: #000;
  border-top: 1px solid #26a56669;
  border-bottom: 1px solid #26a56669;
  overflow: hidden; }
  .selected-movie p {
    margin: 0; }
  .selected-movie img {
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(#00000063), to(rgba(0, 0, 0, 0))); }
  .selected-movie .fav-button,
  .selected-movie .fav-button-selected,
  .selected-movie .nav-favorite {
    position: relative;
    bottom: 570px;
    left: 292px;
    width: 110px;
    height: 40px;
    font-size: 26px; }
  .selected-movie .fav-button-selected-user,
  .selected-movie .fav-button-user {
    position: relative;
    bottom: 1140px;
    left: 585px;
    position: relative;
    bottom: 1140px;
    left: 585px;
    color: #26a565;
    background-color: #353434;
    border: none;
    width: 110px;
    height: 40px;
    font-size: 26px;
    width: 110px;
    height: 40px;
    font-size: 26px; }
  .selected-movie .fav-button-selected-user {
    color: #ffffff;
    background-color: #26a565; }
  .selected-movie .rating {
    position: relative;
    bottom: 1100px;
    border: 4px solid;
    left: 475px;
    width: 93px;
    padding-left: 9px;
    height: 32px;
    font-size: 26px;
    color: #26a566; }

.nav-favorite {
  height: 10px; }

.movie-title {
  color: #ECE9E6;
  font-size: 21px; }

.movie-title-selected {
  font-size: 50px;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #26a5664a;
  position: relative;
  margin: 0;
  width: 657px;
  left: 400px; }

.movie-card,
.favorite-card p {
  color: white;
  font-size: 18px;
  margin-right: 5px; }

.movie-card {
  margin: 0px 5px 0;
  width: 140px;
  border-radius: 5px; }
  .movie-card img {
    height: 198px; }

.movie-card-selected {
  height: 495px; }

.movie-poster {
  border-radius: 5px; }

.movie-poster-selected {
  width: 800px;
  position: relative;
  bottom: 99px;
  left: -66px; }

.overview {
  display: inline-block;
  width: 628px;
  color: #fff;
  position: relative;
  font-size: 19px;
  top: -1137px;
  left: 475px; }

.fav-button,
.fav-button-selected {
  height: 28px;
  width: 139px;
  position: relative;
  bottom: 11px;
  background-color: #353434;
  border: none;
  color: #26a566;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.fav-button:hover {
  background-color: #60f2a8;
  color: #fff; }

.fav-button-selected {
  background-color: #26a566;
  color: #fff; }

.arrows {
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 15%;
  display: flex;
  justify-content: space-between; }

.movie-card img {
  width: inherit; }

.scroll::-webkit-scrollbar {
  width: 10px; }

.scroll::-webkit-scrollbar-track {
  border-radius: 10px; }

.scroll::-webkit-scrollbar-thumb {
  background-color: #37b877;
  border-radius: 10px; }
