.movies-container {
  background-color: #fffdfd;
  box-shadow: 2px 0px 20px #cecccc;
  display: inline-flex;
  height: 100%;
  justify-content: space-between;
  margin-left: 4.5%;
  overflow-x: scroll;
  padding: 4vh 1vh 0;
  text-align: center;
  width: 90%; }

.movie-card, .favorite-card p {
  color: white;
  font-size: 18px;
  margin: 0 auto 10px; }

.movie-card {
  background-color: black;
  box-shadow: 2px 0px 20px #cecccc;
  box-sizing: content-box;
  margin: 0px 20px 25px;
  padding: 4vh;
  width: 35vh; }

.arrows {
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 15%;
  display: flex;
  justify-content: space-between; }

svg {
  fill: red; }

.left-arrow {
  width: 7vh;
  background-size: cover;
  transform: rotate(180deg); }

.right-arrow {
  width: 7vh;
  background-size: cover; }

.movie-card img {
  width: inherit; }

.favorite-card {
  background-color: #6d0404;
  box-shadow: 2px 0px 20px #cecccc;
  box-sizing: content-box;
  margin: 0px 20px 25px;
  padding: 4vh;
  width: 35vh; }

.favorite-card img {
  width: inherit; }

.scroll::-webkit-scrollbar {
  width: 10px; }

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #535151;
  border-radius: 10px; }

.scroll::-webkit-scrollbar-thumb {
  background-color: #fabf52;
  border-radius: 10px;
  outline: 2px solid #000000; }
