.login-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #353434;
  height: 320px;
  width: 600px;
  border-radius: 10px; }

.login-input {
  height: 38px;
  width: 300px;
  margin: 20px 8px;
  border: solid 2px #26a566;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px; }

.email-input {
  margin-left: 44px; }

.login-input::placeholder {
  font-size: 20px; }

label {
  font-size: 20px;
  color: white; }

.login-button {
  margin: 20px 0;
  width: 420px;
  height: 38px;
  font-size: 18px;
  background-color: #26a566;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 10px 18px #494444;
  border: none;
  outline: none; }

h2 {
  color: #353434; }

.login-button:hover {
  cursor: pointer;
  /* background-color: rgb(30, 90, 202); */
  box-shadow: 0 6px 18px #777; }
