.delete-button {
  height: 28px;
  width: 139px;
  position: relative;
  bottom: 11px;
  background-color: #353434;
  border: none;
  color: #26a566;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}